body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-label: "DM Sans";
  --font-awesome: FontAwesome;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-awesome-size: 18px;
  --heading-h2-header-size: 58px;
  --buttons-big-size: 20px;
  --text-label-size: 14px;
  --heading-h5-lead-size: 22px;
  --buttons-small-size: 16px;
  --heading-h1-hero-size: 72px;
  --font-size-xs: 12px;
  --heading-h3-title-size: 42px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;

  /* Colors */
  --colors-white: #fff;
  --colors-heading: #1e0e62;
  --colors-grey: #ebeaed;
  --action-primary: #25dac5;
  --colors-text: rgba(21, 20, 57, 0.4);
  --background-dark: #2f1893;
  --action-third: #e93a7d;
  --action-secondary: #482be7;
  --socials-youtube: #ea3223;
  --socials-twitter: #1da1f2;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-3xs: 10px;
}
