.background-icon,
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
}
.background-icon {
  width: 1400px;
  height: 790px;
  object-fit: cover;
  opacity: 0.6;
}
.rectangle2 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-81xl);
  border: 2px solid var(--colors-white);
  box-sizing: border-box;
  opacity: 0.3;
}
.sign-up2 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 28px);
  line-height: 22px;
  font-weight: 500;
}
.small-white-outline {
  position: absolute;
  height: 100%;
  width: 38.84%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 61.16%;
  text-align: center;
}
.login1 {
  top: calc(50% - 11px);
  left: 31.4%;
  line-height: 22px;
  font-weight: 500;
}
.help,
.login1,
.sign-in {
  position: absolute;
}
.help {
  top: calc(50% - 11px);
  left: 0;
  line-height: 22px;
  font-weight: 500;
}
.sign-in {
  height: 100%;
  width: 24.92%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 75.08%;
}
.startup-31 {
  position: absolute;
  top: -6px;
  left: 2px;
  letter-spacing: -0.29px;
}
.white,
.white1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.white {
  height: 47.5%;
  width: 11.43%;
  top: 15%;
  right: 88.57%;
  bottom: 37.5%;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.pricing1 {
  left: 36.5%;
  line-height: 22px;
  font-weight: 500;
}
.community,
.menu1,
.pricing1 {
  position: absolute;
  top: calc(50% - 11px);
}
.community {
  left: 67.15%;
  line-height: 22px;
  font-weight: 500;
}
.menu1 {
  width: 28.22%;
  right: 57.26%;
  left: 14.52%;
  height: 22px;
}
.header-menu1 {
  position: absolute;
  height: 5.06%;
  width: 69.36%;
  top: 6.33%;
  right: 15.36%;
  bottom: 88.61%;
  left: 15.29%;
}
.the-amazing-hubble {
  position: absolute;
  top: 0;
  left: 51px;
  letter-spacing: -1px;
  line-height: 70px;
}
.the-first-area,
.title {
  position: absolute;
  width: 718px;
}
.the-first-area {
  top: 90px;
  left: 0;
  font-size: var(--heading-h5-lead-size);
  line-height: 32px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  height: 97px;
}
.title {
  top: 200px;
  left: 341px;
  height: 187px;
  font-size: var(--heading-h2-header-size);
}
.rectangle3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--action-third);
}
.sign-up3 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 55px);
  line-height: 26px;
  font-weight: 500;
}
.big-fill1,
.rectangle4 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.big-fill1 {
  width: 17.53%;
  left: 82.47%;
  text-align: center;
}
.rectangle4 {
  width: 100%;
  left: 0;
  border-radius: var(--br-81xl);
  border: 2px solid var(--colors-white);
  box-sizing: border-box;
  opacity: 0.2;
  mix-blend-mode: normal;
}
.your-email {
  position: absolute;
  top: calc(50% - 12px);
  left: 24px;
  line-height: 26px;
  font-weight: 500;
  opacity: 0.4;
}
.big-white-outline,
.big-white-outline1,
.form {
  position: absolute;
  height: 100%;
  width: 38.14%;
  top: 0;
  right: 61.86%;
  bottom: 0;
  left: 0;
}
.big-white-outline1,
.form {
  right: 20.62%;
  left: 41.24%;
}
.form {
  height: 7.59%;
  width: 69.29%;
  top: 58.23%;
  right: 15.36%;
  bottom: 34.18%;
  left: 15.36%;
  font-size: var(--buttons-big-size);
}
.ellipse,
.or-sign-up {
  position: absolute;
  top: 0;
}
.or-sign-up {
  left: 50px;
  letter-spacing: 2px;
  line-height: 26px;
  text-transform: uppercase;
}
.ellipse {
  left: 0;
  border-radius: 50%;
  border: 2px solid var(--colors-white);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  opacity: 0.2;
}
.fa-twitter {
  position: absolute;
  width: 37.5%;
  top: calc(50% - 8px);
  left: 32.5%;
  display: inline-block;
  height: 18px;
}
.twitter {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.fa-twitter1 {
  position: absolute;
  width: 37.5%;
  top: calc(50% - 8px);
  left: 30%;
  display: inline-block;
  height: 18px;
}
.twitter1 {
  left: 140px;
  text-align: left;
}
.twitter1,
.twitter2,
.twitter3 {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}
.twitter2 {
  left: 210px;
  text-align: left;
}
.twitter3 {
  left: 70px;
}
.group,
.social {
  position: absolute;
  width: 250px;
}
.group {
  top: 46px;
  left: 0;
  height: 40px;
  text-align: center;
  font-size: var(--font-awesome-size);
  font-family: var(--font-awesome);
}
.social {
  top: 604px;
  left: 575px;
  height: 86px;
  font-size: var(--text-label-size);
}
.header-22 {
  position: relative;
  background-color: var(--background-dark);
  width: 100%;
  height: 790px;
  overflow: hidden;
  text-align: left;
  font-size: var(--buttons-small-size);
  color: var(--colors-white);
  font-family: var(--text-label);
}
